body {
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    background-color: black;
    color: white;
}

img {
    border: 10px solid white;
}

#image2 {
    position: relative;
    bottom: 49px;
    left: 150px;

}

#image3 {
    height: 200px;
    position: relative;
    bottom: 260px;
}

#image4 {
    height: 200px;
    position: relative;
    bottom: 500px;
    right: 210px;
}

#image5 {
    height: 200px;
    position: relative;
    bottom: 550px;
}